@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
* {
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: 'Blinker', sans-serif; */
    font-family: 'Syne', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}